@use "@styles/timed_keyframes" as *;

.breach {
  width: calc(100% - var(--breach-outer-px) * 2);
}

.breach-inner-decoration-rect {
  $sticks-out-by: 5px;
  top: var(--breach-inner-pt);
  left: -$sticks-out-by;
  width: calc(100% + calc($sticks-out-by * 2));
  height: calc(100% - var(--breach-inner-pt) - var(--breach-inner-pb));
}

.game-ui {
  animation: anim__scale-y-blink-in var(--duration-breach-in) var(--delay-init-load)
    ease 1 forwards;
  transform: scaleY(0);
}

@include timed_keyframes(
    anim__breach-top-decoration-neons,
    (shown 1s),
    (opacity_04 0.2s),
    (shown 0.1s 0.15s),
    (hidden 0.5s 0.6s),
    //
    // repeats
    (opacity_01 0.1s 0.1s),
    (hidden 0.15s),
    (opacity_05 0.1s 0.1s),
    (hidden 0.15s),
    (shown 0.1s 1.5s),
    //
    //
    (hidden 1s 5s),
    (shown 0.2s)
  )
  using ($step) {
  @if $step == shown {
    opacity: 1;
  } @else if $step == hidden {
    opacity: 0;
  } @else if $step == opacity_01 {
    opacity: 0.1;
  } @else if $step == opacity_04 {
    opacity: 0.4;
  } @else if $step == opacity_05 {
    opacity: 0.5;
  }
}

.animate-breach-top-decoration-neons {
  animation-name: anim__breach-top-decoration-neons;
  animation-duration: var(--duration-anim__breach-top-decoration-neons);
  animation-delay: var(--delay-breach-sections-in);
  animation-iteration-count: infinite;
}

@include timed_keyframes(
    anim__breach-top-decoration-squares,
    (shown 1s),
    (hidden 0.15s 0.6s),
    (opacity_03 0.15s),
    (hidden 0.2s),
    (shown 0.15s 9s)
  )
  using ($step) {
  @if $step == shown {
    opacity: 1;
  } @else if $step == hidden {
    opacity: 0;
  } @else if $step == opacity_03 {
    opacity: 0.3;
  }
}

.animate-breach-top-decoration-squares {
  --delay: 0s;
  animation-name: anim__breach-top-decoration-squares;
  animation-duration: var(--duration-anim__breach-top-decoration-squares);
  animation-delay: calc(var(--delay-breach-sections-in) + var(--delay));
  animation-iteration-count: infinite;
}
