@use "sass:map";

:root {
  --app-delay: 0.2s;
  --app-duration: 0.4s;
  // --app-delay: 0.4s;
  // --app-duration: 1s;

  --game-delay: calc(var(--app-delay) + var(--app-duration));
  --game-duration: 0.2s;

  --delay-matrix: var(--game-delay);
  --duration-matrix: var(--game-duration);

  --delay-timer: var(--game-delay);
  --duration-timer: var(--game-duration);

  --delay-buffer: calc(var(--game-delay) + var(--game-duration));
  --duration-buffer: var(--game-duration);

  --delay-sequences: var(--game-delay);
  --duration-sequences: var(--game-duration);

  --delay-sequences-body: calc(var(--game-delay) + var(--game-duration));
  --duration-sequences-body: var(--game-duration);

  --delay-before-idle: calc(var(--game-delay) + var(--game-duration) * 2);


  --code-pick-duration: 500ms;
  --code-pick-2nd-stage-delay: calc(var(--code-pick-duration) * 0.6);
  --code-pick-2nd-stage-duration: calc(var(--code-pick-duration) * 0.4);
}

@keyframes anim__code-pick {
  0%,
  100% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
}

@keyframes anim__scale-x-in {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  35% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes anim__blink-in {
  0%,55%,60% {
    opacity: 0;
  }
  25%,30% {
    opacity: 0.4;
  }
  85%,100% {
    opacity: 1;
  }
}

@function percent($total, $value) {
  @return calc($value / $total) * 100%;
}

@mixin make_glitch_fade_in_out_loop($keyframesName, $className, $opts) {
  $stage_1_dur: map.get($opts, idle_before) + map.get($opts, idle_to_hidden) +
    map.get($opts, hidden);

  $stage_2_dur: $stage_1_dur + map.get($opts, blink_to_shown) +
    map.get($opts, blink_to_hidden) + map.get($opts, blink_hidden);

  $stage_3_dur: $stage_2_dur + map.get($opts, blink_to_shown) +
    map.get($opts, blink_to_hidden) + map.get($opts, blink_hidden);

  $total_dur: $stage_3_dur + map.get($opts, blink_to_shown) +
    map.get($opts, idle_after);

  .#{$className} {
    animation: $keyframesName $total_dur map.get($opts, anim_delay) infinite;
  }

  @keyframes #{$keyframesName} {
    0%,
    #{percent($total_dur, map.get($opts, idle_before))} {
      opacity: 1;
    }

    #{percent($total_dur, map.get($opts, idle_before) + map.get($opts, idle_to_hidden))},
    #{percent($total_dur, $stage_1_dur)} {
      opacity: 0;
    }

    #{percent($total_dur, $stage_1_dur + map.get($opts, blink_to_shown))} {
      opacity: 0.1;
    }
    #{percent($total_dur, $stage_1_dur + map.get($opts, blink_to_shown) + map.get($opts, blink_to_hidden))},
    #{percent($total_dur, $stage_2_dur)} {
      opacity: 0;
    }

    #{percent($total_dur, $stage_2_dur + map.get($opts, blink_to_shown))} {
      opacity: 0.5;
    }
    #{percent($total_dur, $stage_2_dur + map.get($opts, blink_to_shown) + map.get($opts, blink_to_hidden))},
    #{percent($total_dur, $stage_3_dur)} {
      opacity: 0;
    }

    #{percent($total_dur, $stage_3_dur + map.get($opts, blink_to_shown))},
    100% {
      opacity: 1;
    }
  }
}
