:root {
  --delay-init-load: 0s;
  --duration-breach-in: 0.6s;

  --delay-breach-sections-in: calc(
    var(--delay-init-load) + var(--duration-breach-in)
  );
  --duration-breach-sections-in: 0.3s;

  --delay-before-idle: calc(
    var(--delay-breach-sections-in) + var(--duration-breach-sections-in)
  );

  --duration-matrix-fade-out: 300ms;
  --duration-header-fade-out: 500ms;

  --duration-code-pick: 500ms;
  --delay-code-pick-2nd-stage: calc(var(--code-pick-duration) * 0.6);
  --duration-code-pick-2nd-stage: calc(var(--code-pick-duration) * 0.4);

  --code-pick-duration: 500ms;
  --code-pick-2nd-stage-delay: calc(var(--code-pick-duration) * 0.6);
  --code-pick-2nd-stage-duration: calc(var(--code-pick-duration) * 0.4);
}

@keyframes anim__code-pick {
  0%,
  100% {
    opacity: 0;
  }
  40%,
  60% {
    opacity: 1;
  }
}

.animate-scale-from-left {
  @apply opacity-0 origin-left scale-x-0;

  --duration: var(--duration-breach-sections-in);
  --delay: var(--delay-breach-sections-in);

  animation: anim__scale-from-left var(--duration) var(--delay) ease 1 forwards;

  &[data-2ed-delay="true"] {
    --delay: calc(
      var(--delay-breach-sections-in) + var(--duration-breach-sections-in)
    );
  }
}

@keyframes anim__scale-from-left {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  35% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

.anim__scale-form-top {
  @apply origin-top scale-y-0;

  --duration: var(--duration-breach-sections-in);
  --delay: var(--delay-breach-sections-in);
  animation: anim__scale-from-top var(--duration) var(--delay) ease 1 forwards;

  &[data-2ed-delay="true"] {
    --delay: calc(
      var(--delay-breach-sections-in) + var(--duration-breach-sections-in)
    );
  }
}

@keyframes anim__scale-from-top {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.animate-blink-in {
  @apply opacity-0;
  --duration: 400ms;
  --delay: var(--delay-before-idle);

  animation: anim__blink-in var(--duration) var(--delay) ease 1 forwards;
}

@keyframes anim__blink-in {
  0%,
  55%,
  60% {
    opacity: 0;
  }
  25%,
  30% {
    opacity: 0.4;
  }
  85%,
  100% {
    opacity: 1;
  }
}

@keyframes anim__scale-y-blink-in {
  0%,
  20% {
    transform: scaleY(0);
    opacity: 1;
  }
  25%,
  30% {
    opacity: 0.2;
  }
  40%,
  45% {
    opacity: 1;
  }
  55%,
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75%,
  80% {
    opacity: 0.4;
  }
  90%,
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
