:root {
  --breach-outer-px: 2px;
  --breach-inner-pt: 1rem;
  --breach-inner-pb: 1rem;
  --breach-inner-pl: 0.5rem;
  --breach-inner-pr: 0.5rem;
  --breach-content-x-gap: 28px;
  --breach-content-y-gap: 18px;

  // Matrix
  --matrix-width: 100%;
  --matrix-code-size: 48px;
  --matrix-code-font-size: 18px;
  --matrix-inner-py: 12px;
  --matrix-inner-px: 16px;
  --bg-matrix-primary-selection: hsl(247.5 20% 15.69%);
  --bg-matrix-secondary-selection: hsl(72.18 98.52% 26.47% / 15%);

  // Sequences
  --sequences-inner-py: 12px;
  --sequences-inner-px: 6px;
  --sequences-code-font-size: 15px;
  --sequences-code-size: 32px;
  --sequences-codes-gap: 0px;
  --sequences-sticks-out-by: -var(--breach-inner-pr);
  --bg-sequences-highlight: hsl(248 20% 16%);

  // Colors
  --bg-page: 247.5 20% 7.84%;
  --bg-modal: 244 15% 22%;

  --primary-300: 71.68 98.26% 77.45%;
  --primary-500: 72 98.9% 65.5%;
  --primary-900: 71.47 100% 13.33%;

  --accent-300: 185 63% 77%;
  --accent-500: 185.28 62.81% 60.98%;

  --success-400: 148 84% 53%;
  --success-500: 147.96 84.14% 44.51%;
  --success-600: 147.84 84.53% 35.49%;
  --success-700: 147.84 80% 30%;
  --success-800: 148 44 10%;
  --success-900: 147.57 86.05% 8.43%;

  --danger-300: 1 110 76%;
  --danger-400: 1 110 69%;
  --danger-500: 1.29 100% 63.53%;
  --danger-600: 1.24 100% 52.55%;
  --danger-700: 1.12 70% 24%;
  --danger-800: 1 80% 14%;
  --danger-900: 1 60% 8%;

  @media (min-width: theme("screens.xs")) {
    --breach-outer-px: 16px;
    --breach-inner-pt: 1.5rem;
    --breach-inner-pb: 1.5rem;
    --breach-inner-pl: 0.75rem;
    --breach-inner-pr: 0.75rem;

    // Matrix
    --matrix-width: 425px;
    --matrix-code-size: 56px;
    --matrix-code-font-size: 20px;
    --matrix-inner-py: 24px;
    --matrix-inner-px: 70px;

    // Sequences
    --sequences-inner-px: 12px;
    --sequences-code-font-size: 17px;
    --sequences-code-size: 36px;
    --sequences-codes-gap: 4px;
    --sequences-sticks-out-by: 4px;
  }

  @media (min-width: theme("screens.sm")) {
    // Sequences
    --sequences-inner-py: 12px;
    --sequences-inner-px: 16px;
    --sequences-code-font-size: 18px;
    --sequences-code-size: 40px;
    --sequences-codes-gap: 8px;
    --sequences-sticks-out-by: 8px;
  }

  @media (min-width: theme("screens.lg")) {
    --breach-outer-px: 45px;
    --breach-content-x-gap: 28px;
    --breach-inner-pt: 3.5rem;
    --breach-content-y-gap: 26px;

    // Matrix
    --matrix-width: 425px;
    --matrix-inner-py: 18px;
    --matrix-code-size: 44px;
    --matrix-code-font-size: 18px;

    // Sequences
    --sequences-sticks-out-by: 30px;
    --sequences-code-font-size: 16px;
    --sequences-code-size: 32px;
  }

  @media (min-width: theme("screens.xl")) {
    --breach-outer-px: 60px;
    --breach-content-x-gap: 36px;
    --breach-content-y-gap: 32px;

    // Matrix
    --matrix-inner-py: 24px;
    --matrix-inner-px: 70px;
    --bg-matrix-primary-selection: hsl(247.5 20 15.69);
    --bg-matrix-secondary-selection: hsl(72.18 98.52 26.47 / 15%);
  }

  @media (min-width: theme("screens.2xl")) {
    --breach-outer-px: 80px;
    --breach-inner-pb: 3.5rem;
    --breach-inner-pl: 3rem;
    --breach-inner-pr: 3rem;
    --breach-content-x-gap: 48px;
    --breach-content-y-gap: 40px;

    // Matrix
    --matrix-width: 500px;
    --matrix-code-font-size: 18px;
    --matrix-code-size: 50px;
    --matrix-inner-py: 32px;
    --matrix-inner-px: 100px;
  }
}
