// TODO: move it from here into Breach component

.breach {
  --breach-wdith: 1300px;

  width: var(--breach-wdith);
  height: 100%;

  --breach-inner-pt: 3.5rem;
  --breach-inner-pb: 3.5rem;
  --breach-inner-pl: 3rem;
  --breach-inner-pr: 3rem;
}


.breach-inner-decoration-rect {
  $sticks-out-by: 5px;
  top: var(--breach-inner-pt);
  left: -$sticks-out-by;
  width: calc(100% + calc($sticks-out-by * 2));
  height: calc(100% - var(--breach-inner-pt) - var(--breach-inner-pb));
}

.game-ui {
  animation: anim__game-ui-in var(--app-duration) var(--app-delay) ease 1
    forwards;
  transform: scaleY(0);

  @keyframes anim__game-ui-in {
    0%,
    20% {
      transform: scaleY(0);
      opacity: 1;
    }
    25%,
    30% {
      opacity: 0.2;
    }
    40%,
    45% {
      opacity: 1;
    }
    55%,
    60% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    75%,
    80% {
      opacity: 0.4;
    }
    90%,
    100% {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
