@import "./fonts";
@import "./theme";
@import "./anims";
@import "./components";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Maven Pro";
  @apply text-white bg-page;

  overflow: hidden;
  @media (min-width: theme("screens.blocked")) {
    overflow-y: auto;
  }

  @media (min-width: theme("screens.md")) {
    overflow-x: hidden;
  }
}

.breach-layout-grid {
  @apply grid justify-start;
  grid-template-columns: 1fr;
  column-gap: var(--breach-content-x-gap);

  @media (min-width: theme("screens.lg")) {
    grid-template-columns: var(--matrix-width) 1fr;
  }
}

.breach-layout-px {
  padding-left: var(--breach-inner-pl);
  padding-right: var(--breach-inner-pr);
}

#modals {
  @apply fixed inset-0 z-modals w-screen h-screen pointer-events-none;

  & > * {
    pointer-events: all;
  }
}
