$duration-code-pick: calc(var(--duration-code-pick) * 0.4);
$delay-code-pick: calc(var(--duration-code-pick) * 0.6);

.sequences-wrapper {
  width: calc(100% + var(--breach-inner-pr) + var(--sequences-sticks-out-by));
}

.sequences__header::before {
  @apply bg-page ribbon-tl content-[""] absolute -z-1;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.sequence__code {
  transition:
    margin-left 300ms ease,
    border-color $duration-code-pick $delay-code-pick ease;
}

.sequence__code--picked {
  transition:
    border-color $duration-code-pick $delay-code-pick ease,
    color $duration-code-pick $delay-code-pick ease,
    margin-left 300ms ease;

  animation: anim__seq-code-pick-glow var(--duration-code-pick) ease 1 forwards;

  &::after {
    @apply content-[""] absolute top-0 left-0 w-full h-full bg-accent-500 opacity-0;
    animation: anim__seq-code-pick var(--duration-code-pick) ease 1 forwards;
  }
}

@keyframes anim__seq-code-pick-glow {
  0%,
  70% {
    @apply code-glow text-accent-500;
  }
  85% {
    @apply text-primary-500;
  }
  100% {
    @apply shadow-none;
  }
}

@keyframes anim__seq-code-pick {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.4;
  }
  85% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

