$duration-code-pick: var(--duration-code-pick-2nd-stage);
$delay-code-pick: var(--delay-code-pick-2nd-stage);

.buffer-code {
  transition:
    padding-bottom 150ms 150ms ease,
    background 200ms ease;
}

.buffer-code--filled {
  transition:
    padding-bottom $duration-code-pick $delay-code-pick ease,
    color $duration-code-pick $delay-code-pick ease,
    outline $duration-code-pick $delay-code-pick ease;

  &::after {
    @apply content-[""] inset-0 absolute w-full h-full opacity-0 bg-accent-500;
    animation: anim__code-pick var(--duration-code-pick) ease 1;
  }
}

@keyframes anim__buffer-caret-idle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
