@use "@styles/timed_keyframes" as *;

.matrix__code {
  &::before {
    content: attr(data-code);
  }

  &::after {
    content: "";
    $gap: 4px;
    top: calc($gap / 3);
    left: calc($gap / 2);
    width: calc(100% - $gap);
    height: calc(100% - $gap);
    position: absolute;
  }
}

.matrix__code--selectable:hover {
  @apply cursor-pointer border-2 border-accent-500 code-glow animate-code-glow-pulse;

  &::after {
    @apply border-2 border-accent-500;
    @apply code-glow animate-code-glow-pulse;
  }
}

.matrix__code--selected {
  transition: border calc(var(--duration-code-pick) * 0.4)
    calc(var(--duration-code-pick) * 0.6) ease;

  &::after {
    @apply opacity-0 bg-accent-500 border-2 border-accent-500;
    @apply code-glow;

    animation: anim__code-pick var(--duration-code-pick) ease 1;
  }

  &::before {
    animation: anim__matrix__code-pick-content 1ms
      calc(var(--duration-code-pick) / 2) ease 1 forwards;
  }
}

@keyframes anim__matrix__code-pick-content {
  0% {
    content: attr(data-code);
  }
  100% {
    content: "[ ]";
  }
}

@include timed_keyframes(
    anim__code_matrix_filler,
    (shown 6s),
    (hidden 0.15s 2s),
    (opacity_01 0.1s),
    (hidden 0.1s 0.1s),
    (opacity_05 0.1s),
    (hidden 0.1s 0.1s),
    (shown 0.1s 5s)
  )
  using ($step) {
  @if $step == shown {
    opacity: 1;
  } @else if $step == hidden {
    opacity: 0;
  } @else if $step == opacity_01 {
    opacity: 0.1;
  } @else if $step == opacity_05 {
    opacity: 0.5;
  }
}

.animate-matrix-filler-1 {
  animation: anim__code_matrix_filler var(--duration-anim__code_matrix_filler) 0s infinite;
}

.animate-matrix-filler-2 {
  animation: anim__code_matrix_filler var(--duration-anim__code_matrix_filler) 0.25s infinite;
}
